@charset "UTF-8";

/*
    HTML = id     =>  CSS = # (só pode um elemento)
    HTML = class  =>  CSS = . (podem vários elementos)
    * Posso misturar id e class
    * Poss ter mais de uma class simultaneamente
*/

body {
    background-color: #D6FDE9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1E402F;
}

h1#principal {
    text-align: center;
    background-color: #3C805E;
    color: white;
}

h2 {
    color: #3C805E;
}

.basico {
    color: #3C805E;
    font-weight: bold;
}

.intermediario {
    color: #80793C;
}

.avancado {
    color: #803C3C;
}

.destaque {
    background-color: #C5C56070;
}